{% extends "layout.html" %} {% block content %}
<h1><i class="bi bi-clipboard-data"></i> Dashboard</h1>
<div class="row mb-12">
	<div class="col-md-3 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative d-flex align-items-center justify-content-center" style="height: 100px; background-color:#73C6B6">
			<h2 style="text-align:center;">Car Connection</h2>
			<h3 style="text-align:center;"><i class="bi bi-reception-4"></i> <b>Connected</b></h2>
		</div>
	</div>


	<div class="col-md-3 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative d-flex align-items-center justify-content-center" style="height: 100px; background-color:#AED6F1">
			<h2 style="text-align:center;">Current Speed</h2>
			<h3 style="text-align:center;"><i class="bi bi-speedometer"></i> <b>{{car_data[0].current_speed}}km/h</b></h2>
		</div>
	</div>

	<div class="col-md-3 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative d-flex align-items-center justify-content-center" style="height: 100px; background-color:#85C1E9">
			<h2 style="text-align:center;">Current Temps</h2>
			<h3 style="text-align:center"><i class="bi bi-thermometer-half"></i> <b>{{car_data[0].current_temps}}°C</b></h2>
		</div>
	</div>

	<div class="col-md-3 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative d-flex align-items-center justify-content-center" style="height: 100px; background-color:#D4E6F1">
			<h2 style="text-align:center;">Distance Travelled</h2>
			<h3 style="text-align:center"><i class="bi bi-map-fill"></i><b></b></h2>
		</div>
	</div>
</div>


<div class="row mb-12">
	<div class="col-md-6 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 400px; background-color: white">
			<h4 style="text-align:center;">Temperature Graph</h4>
			<canvas id="temp_chart" width="400" height="210"></canvas>
		</div>
	</div>


	<div class="col-md-6 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 400px; background-color: white">
			<h4 style="text-align:center;">Speed Graph</h4>
			<canvas id="speed_chart" width="400" height="210"></canvas>
		</div>
	</div>
</div>

<div class="row mb-12">
	<div class="col-md-6 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 400px; background-color: white">
			<h4 style="text-align:center;">Line Detection Count</h4>
			<canvas id="line_detect_count_chart" width="400" height="210"></canvas>
		</div>
	</div>

	<div class="col-md-6 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 400px; background-color: white">
			<h4 style="text-align:center;">Rate of Line Detection</h4>
			<canvas id="line_detect_chart" width="400" height="210"></canvas>
		</div>
	</div>

<!-- 	<div class="col-md-6 p-1 d-flex flex-column position-static">
		<h2 style="text-align:center;">Movement Commands Radar</h2>
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 650px; background-color: white">
			<canvas id="command_radar_chart" width="0" height="0"></canvas>
		</div>
	</div> -->
</div>


<!-- {% for dict_item in data %}
   {% for key, value in dict_item.items() %}
      <h1>Key: {{key}}</h1>
      <h2>Value: {{value}}</h2>
   {% endfor %}
{% endfor %}
 -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.esm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.esm.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/helpers.esm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/helpers.esm.min.js"></script>
<script>
	// Temperature Chart
	const ctx = document.getElementById('temp_chart').getContext('2d');

	var temp_chart_stats = JSON.parse('{{ car_data[1] | tojson | safe}}');
	var temp_chart_labels = [];
	var temp_chart_data = [];

	for (const [key, value] of Object.entries(temp_chart_stats)) {
		temp_chart_labels.push(key);
		temp_chart_data.push(value);
	}	

	const temp_chart = new Chart(ctx, {
	    type: 'line',
	    data: {
	        labels: temp_chart_labels,
	        datasets: [{
	            label: 'temp',
	            data: temp_chart_data,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            y: {
	                beginAtZero: true
	            }
	        }
	    }
	});

	// Speed graph 
	var speed_chart_stats = JSON.parse('{{ car_data[2] | tojson | safe}}');
	var speed_chart_labels = [];
	var speed_chart_data = [];
	for (const [key, value] of Object.entries(speed_chart_stats)) {
		speed_chart_labels.push(key);
		speed_chart_data.push(value);
	}	

	const ctx1 = document.getElementById('speed_chart').getContext('2d');
	const myChart1 = new Chart(ctx1, {
	    type: 'line',
	    data: {
	        labels: temp_chart_labels,
	        datasets: [{
	            label: 'speed',
	            data: speed_chart_data,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            y: {
	                beginAtZero: true,
	                precision: 0,
	            }
	        }
	    }
	});

	// Line Detection Chart 
	var line_detect_chart_stats = JSON.parse('{{ car_data[3] | tojson | safe}}');
	var line_detect_chart_labels = [];
	var line_detect_chart_data = [];
	for (const [key, value] of Object.entries(line_detect_chart_stats)) {
		line_detect_chart_labels.push(key);
		line_detect_chart_data.push(value);
	}	

	const ctx2 = document.getElementById('line_detect_chart').getContext('2d');
	const myChart2 = new Chart(ctx2, {
	    type: 'line',
	    data: {
	        labels: line_detect_chart_labels,
	        datasets: [{
	            label: 'Line Detected',
	            data: line_detect_chart_data,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            y: {
	                beginAtZero: true,
			        ticks: {
			            precision: 0,
				        callback:function(value,index,values){
				            if (value == 1) return "True";
				            if (value == 0) return "False";
				        }		            
			        }        
	            }
	        }
	    }
	});


	// Line Detect Chart Count Chart
	var line_detect_count_chart_stats = JSON.parse('{{ car_data[4] | tojson | safe}}');
	var line_detect_count_chart_labels = [];
	var line_detect_count_chart_data = [];
	for (const [key, value] of Object.entries(line_detect_count_chart_stats)) {
		line_detect_count_chart_labels.push(key);
		line_detect_count_chart_data.push(value);
	}	

	const ctx3 = document.getElementById('line_detect_count_chart').getContext('2d');
	const myChart3 = new Chart(ctx3, {
	    type: 'bar',
	    data: {
	        labels: line_detect_count_chart_labels,
	        datasets: [{
	            label: 'Line Detected Count',
	            data: line_detect_count_chart_data,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            y: {
	                beginAtZero: true,
			        ticks: {
			            precision: 0,	            
			        }        
	            }
	        }
	    }
	});
</script>

<!-- <script>
const ctx3 = document.getElementById('command_radar_chart').getContext('2d');
const myChart3 = new Chart(ctx3, {
    type: 'radar',
    data: {
        labels: ['forward', 'left', 'right', 'backwards'],
        datasets: [{
            label: 'Line Detected',
            data: [20, 1, 1, 0],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
		        ticks: {
		            precision: 0,	            
		        }        
            }
        }
    }
});
</script> -->

<script>
    setInterval(function(){$.ajax({
        url: '/update',
        type: 'POST',
        success: function(response) {
            console.log(response);
            $("#num").html(response["value"]);
            $("#time").html(response["time"]);
        },
        error: function(error) {
            console.log(error);
        }
    })}, 1000);
</script>
{% endblock %}



<!-- Some tests for the dashboard -->
<!-- Ensure that data from the db can be displayed
Ensure that data from the db are correctly displayed 
Ensure that the charts can be displayed 
Ensure that the charts are the intended chart displayed i.e. Line chart should display a line chart  
Ensure that the dashboard page can load even if there is no data-->