{% extends "layout.html" %}
{% block content %}
<h1>Create Map</h1>
<div class="row mb-12">
	<div class="col-md-6 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="map_grid" style="background-color: white;">
			<section class="droppable-elements">
				<!-- Row 1 -->
				<div class="row" id="grid_row_1">
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>

				<!-- Row 2 -->
				<div class="row" id="grid_row_2">
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>

				<!-- Row 3 -->
				<div class="row" id="grid_row_3">
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>

				<!-- Row 4 -->
				<div class="row" id="grid_row_4">
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>

				<!-- Row 5 -->
				<div class="row" id="grid_row_5">
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>

				<!-- Row 6 -->
				<div class="row" id="grid_row_6">
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>

				<!-- Row 7 -->
				<div class="row" id="grid_row_7">
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>

				<!-- Row 8 -->
				<div class="row" id="grid_row_8">
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>
			</section>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-2 p-1 d-flex flex-column position-static">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="map_elements" style="background-color: white;">
			<section class="draggable-elements" id="game_items">
				<div class="row">
					<p><b>Drag and Drop</b></p>
					<div class="row"><div id="selectable1" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="{{ url_for('static', filename='/img/start.png')}}" draggable="true" ondragstart="drag(event)" id="drag1" width="40" height="40"></div><p>Start Tile</p></div>

					<div class="row"><div id="selectable2" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="{{ url_for('static', filename='/img/end.jpg')}}" draggable="true" ondragstart="drag(event)" id="drag2" width="40" height="40"></div><p>End Tile</p></div>

					<div class="row"><div id="selectable3" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="{{ url_for('static', filename='/img/yellow_box.png')}}" draggable="true" ondragstart="drag(event)" id="drag3" width="40" height="40"></div><p>Route Tile</p></div>

					<div class="row"><div id="selectable4" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="{{ url_for('static', filename='/img/grey_box.png')}}" draggable="true" ondragstart="drag(event)" id="drag4" width="40" height="40"></div><p>Empty Tile</p></div>
				</div>
			</section>
		</div>
	</div>
	<div class="col-md-3 p-1 d-flex flex-column position-static">
		<div class="d-grid gap-2" id="map-buttons">
			<a href="/maps" class="btn btn-danger btn-lg btn-block">Reset</a>
			<button type="button" class="btn btn-success btn-lg btn-block" id="save_map_btn" onclick="savemap();">Save</button>
			<button type="button" class="btn btn-warning btn-lg btn-block">Open Map</button>
		</div>
	</div>
</div>


{% endblock %}



<!-- https://jsfiddle.net/dzsk7311/4/ -->

<!-- var $form = document.getElementById("grid_row_1"); -->


<!-- var $form = document.getElementById("test2").childNodes; -->
<!-- console.log($form.item(0)) -->