{% extends "layout.html" %}
{% block content %}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
	<div class="container-fluid py-1 px-3">
		<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
			<li class="breadcrumb-item text-sm">Pages</li>
				<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Create Map</li>
				<li class="breadcrumb-item text-sm text-dark" aria-current="page"><a class="opacity-5 text-dark" href="javascript:;">Manage Map</a></li>
		</ol>
		<h6 class="font-weight-bolder mb-0"><b>Create Map</b></h6>
		</nav>
	</div>
</nav>

<div class="container-fluid py-4">
	<!-- Row 1 -->
	<div class="row">
		<div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
			<div class="card">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-10">
							<div class="numbers">
								<h5 class="font-weight-bolder mb-0">
									<b>Creating a Map</b>
								</h5>
								<p class="text-sm mb-0 text-capitalize font-weight-bold">The player is enable to create their own custom maps by simply dragging and dropping the items in the "Drag and Drop" column onto the game map.</p>
								<br>
								<p>A brief description of the following draggable items are as followed:</p>
							</div>
						</div>
						<div class="col-2 text-end">
							<a class="btn btn-dark" href="#" role="button"><i class="fas fa-plus"></i> View Tutorial</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
							<div class="row">
								<div class="col-4">
									<div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md" style="height: 55px; width: 55px; display: flex; justify-content: center; align-items: center; background: white">
										<img src="{{ url_for('static', filename='/img/start.png')}}" width="40" height="40">
									</div>
								</div>

								<div class="col-8">
									<div>
										<p class="text-sm mb-0 text-capitalize font-weight-bold" style="padding-top: 15px">Car's starting point.</p>
									</div>
								</div>
							</div>
						</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
							<div class="row">
								<div class="col-4">
									<div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md" style="height: 55px; width: 55px; display: flex; justify-content: center; align-items: center; background: white">
										<img src="{{ url_for('static', filename='/img/end.jpg')}}" width="40" height="40">
									</div>
								</div>

								<div class="col-8">
									<div>
										<p class="text-sm mb-0 text-capitalize font-weight-bold" style="padding-top: 15px">Car's ending point.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
							<div class="row">
								<div class="col-4">
									<div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md" style="height: 55px; width: 55px; display: flex; justify-content: center; align-items: center; background: white">
										<img src="{{ url_for('static', filename='/img/yellow_box.png')}}" width="40" height="40">
									</div>
								</div>

								<div class="col-8">
									<p class="text-sm mb-0 text-capitalize font-weight-bold" style="padding-top: 15px">Car's route.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Row 2 -->
	<div class="row mt-4">
		<!-- Map -->
		<div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
			<div class="card">
				<div class="card-body p-3" style="background-image: url('{{ url_for("static", filename="/img/map1.jpg")}}'); background-repeat: no-repeat;">
					<div class="row">
						<div class="col-5">
							<section class="droppable-elements">
								<!-- Row 1 -->
								<div class="row" id="grid_row_1">
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div>

								<!-- Row 2 -->
								<div class="row" id="grid_row_2">
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div>

								<!-- Row 3 -->
								<div class="row" id="grid_row_3">
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div>

								<!-- Row 4 -->
								<div class="row" id="grid_row_4">
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div>

								<!-- Row 5 -->
								<div class="row" id="grid_row_5">
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div>

								<!-- Row 6 -->
								<div class="row" id="grid_row_6">
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div>

								<!-- Row 7 -->
								<div class="row" id="grid_row_7">
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div>

								<!-- Row 8 -->
								<div class="row" id="grid_row_8">
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
									<div class="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div>
							</section>						
						</div>

						<div class="col-5">
							<section class="draggable-elements" id="game_items" style="padding-top: 20%;"> 
								<!-- Drag n drop game items: start tile, end tile, route tile, and empty tile -->
								<div class="row" style="justify-content: center; align-items: center;">
									<div class="card" style="background: black">
										<p style="color: white; align-items: center;"><b>Drag and Drop</b></p>
									</div>
									<div class="card">
										<div class="row">
											<div id="selectable1" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
												<img src="{{ url_for('static', filename='/img/start.png')}}" draggable="true" ondragstart="drag(event)" id="start_tile" width="40" height="40">
											</div>
											<p style="text-align: center;">Start Tile</p>
										</div>

										<div class="row">
											<div id="selectable2" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
												<img src="{{ url_for('static', filename='/img/end.jpg')}}" draggable="true" ondragstart="drag(event)" id="end_tile" width="40" height="40">
											</div>
											<p style="text-align: center;">End Tile</p>
										</div>

										<div class="row">
											<div id="selectable3" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
												<img src="{{ url_for('static', filename='/img/yellow_box.png')}}" draggable="true" ondragstart="drag(event)" id="route_tile" width="40" height="40">
											</div>
											<p style="text-align: center;">Route Tile</p>
										</div>
									</div>
								</div>
							</section>								
						</div>
						<div class="col-1 text-end">
							<a class="btn btn-success" role="button" id="save_map_btn" onclick="saveMap();"> Save</a>
						</div>
						<div class="col-1 text-end">
							<a class="btn btn-danger" href="/maps" role="button"> Reset</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



<!-- https://jsfiddle.net/dzsk7311/4/ -->

<!-- var $form = document.getElementById("grid_row_1"); -->


<!-- var $form = document.getElementById("test2").childNodes; -->
<!-- console.log($form.item(0)) -->