{% extends "layout.html" %} {% block content %}

<xml xmlns="https://developers.google.com/blockly/xml" id="workspaceBlocks" style="display: none"></xml>
<script src="https://unpkg.com/blockly/blockly.min.js"></script>

<!-- <script src="../static/scripts/blockly_compressed.js"></script>
<script src="../static/scripts/blocks_compressed.js"></script>
<script src="../static/scripts/javascript_compressed.js"></script>
<script src="../static/scripts/en.js"></script> -->
<script src="../static/scripts/block.js"></script>

<!-- <script src="../static/scripts/music_maker.js"></script>
<script src="../static/scripts/sound_blocks.js"></script> -->
<!-- <script src="scripts/workspace.js"></script>
<script src="scripts/main.js"></script> -->

<style>
    .bgMap {
        background-image: url('{{ url_for("static", filename="/img/map1.jpg")}}');
        background-repeat: no-repeat;
    }

    .bgProg {
        background-image: url('{{ url_for("static", filename="/img/prog.jpg")}}');
        background-repeat: no-repeat;
    }
</style>

<!-- Row 1 -->
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-10">
                            <div class="numbers">
                                <h5 class="font-weight-bolder mb-0">
                                    <b>Playing the game</b>
                                </h5>
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">The player drags and drops the
                                    blocks in the "Car Command Flow" column to create a sequence of car movement
                                    commands.</p>
                                <br>
                                <p><b>Brief Game Rules</b></p>
                                <p>If the car movement falls outside of the path demarked by the yellow boxes, the
                                    player loses the gamee.</p>
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <a class="btn btn-dark" href="#" role="button"><i class="fas fa-plus"></i> View Tutorial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row 2 -->
    <div class="row mt-4">
        <!-- Row 1 -->
        <div class="col-xl-5 col-sm-4 mb-xl-0 mb-3 pe-0">
            <div id="createMap" class="card bgMap">
                <div class="card-body pb-4">
                    <div class="row">
                        <div class="col-12">
                            <div id="changeTitle" class="numbers">
                                <p class="text-sm mb-3 text-capitalize font-weight-bold" style="color: white;">
                                    <b>Game Map</b>
                                </p>
                            </div>
                            {% set count = namespace(value=1) %}
                            {% for map_list in map %}
                            <div class="row">
                                {% for map_coordinates in map_list %}
                                {% if map_coordinates == '0' %}
                                <div class="div1" id="grid{{count.value}}">
                                </div>

                                {% elif map_coordinates == '1' %}
                                <div class="div1" id="grid{{count.value}}" style="background:lightblue;">
                                    <img id="carImg" src="{{ url_for('static', filename='/img/carimg.png')}}" width="40"
                                        height="40">
                                </div>

                                {% elif map_coordinates == '2' %}
                                <div class="div1" id="grid{{count.value}}" style="background:yellow;">
                                    <!-- <img src="{{ url_for('static', filename='/img/yellow_box.png')}}" width="40" height="40"> -->
                                </div>

                                {% elif map_coordinates == '3' %}
                                <div class="div1" id="grid{{count.value}}" style="background:lightblue;">
                                    <img src="{{ url_for('static', filename='/img/end.jpg')}}" width="40" height="40">
                                </div>
                                {% endif %}
                                {% set count.value = count.value + 1 %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mb-lg-0 mb-xl-0 mb-3 pe-0">
            <div class="card bgProg">
                <div class="card-body ">
                    <!-- Row 1 -->
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex flex-column h-100">
                                <p class="font-weight-bolder" style="color:white"><b>Car Commands Flow</b></p>
                                <p class="mb-2" style="color:white">Drag and drop to configure Commands.</p>
                            </div>
                        </div>
                        <div class="col-1 d-grid gap-1 justify-content-md-end mb-1">
                            <div>
                                <button type="button" class="btn btn-success btn-sm " onclick="showCode()">Send</button>
                            </div>

                        </div>
                        <div class="col-1 d-grid p-0 mb-1">
                            <div>
                                <button type="button" onclick="resetGame()"
                                    class="btn btn-danger btn-sm me-1">Clear</button>
                            </div>

                        </div>

                    </div>

                    <!-- Row 2 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blockly-editor ">
                                <div id="blocklyDiv" style="height: 500px; width: 100%;"></div>
                                <xml id="toolbox" style="display: none;">
                                    <category name="Movement" colour="%{BKY_COLOUR_HUE}">
                                        <block type="forward"></block>
                                        <block type="turn"></block>
                                    </category>
                                    <category name="Loops" colour="%{BKY_LOOPS_HUE}">
                                        <block type="controls_for">
                                            <value name="FROM">
                                                <block type="math_number">
                                                    <field name="NUM">1</field>
                                                </block>
                                            </value>
                                            <value name="TO">
                                                <block type="math_number">
                                                    <field name="NUM">10</field>
                                                </block>
                                            </value>
                                            <value name="BY">
                                                <block type="math_number">
                                                    <field name="NUM">1</field>
                                                </block>
                                            </value>
                                        </block>
                                        <block type="logic_boolean"></block>
                                        <block type="math_number">
                                            <field name="NUM">42</field>
                                        </block>
                                        <block type="controls_if"></block>
                                        <block type="controls_whileUntil"></block>
                                        <block type="logic_compare"></block>
                                        <block type="logic_operation"></block>
                                    </category>
                                    <category name="Variables" custom="VARIABLE" colour="%{BKY_VARIABLES_HUE}">
                                    </category>
                                    <!-- <block type="print"></block> -->
                                    <!-- <block type="repeatuntilend"></block> -->
                                    <!-- <block type="controls_if"></block> -->
                                    <!-- <block type="controls_repeat_ext"></block> -->
                                    <!-- <block type="math_number">
                                        <field name="NUM">123</field>
                                    </block>
                                    <block type="text_print"></block> -->
                                </xml>
                                <xml id="startBlocks" style="display: none">
                                </xml>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-2 mb-xl-0 mb-3">
            <div class="p-2 p-md-4 mb-4 text-white rounded bg-secondary h-100">
                <div class="col-md-12 ">
                    <div class=" border-bottom mb-3">
                        <strong class="d-inline-block mb-2 text-white">Command List</strong>
                        <div id="totalCommands">No. of Blocks Used: 0</div>
                    </div>
                    <p class="mt-2" id="textArea"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal popup for Success -->
<div id="game_won_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: green;">
                <h5 class="modal-title" style="color: white"><i class="fas fa-trophy"></i> Game Won!</h5>
            </div>
            <div class="modal-body">
                <p>The car has successfully traversed its path!</p>
                <a style="margin:auto;" class="btn btn-primary" href="/dashboard" role="button">View data at
                    Dashboard</a>
            </div>
            <div class="modal-footer">
                <btn style="margin:auto;" class="btn btn-primary" data-bs-dismiss="modal" onclick="generateBomb();"
                    role="button">Proceed to Challenging Stage</btn>
            </div>
        </div>
    </div>
</div>

<!-- Modal popup for Failure -->
<div id="game_over_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: red;">
                <h5 class="modal-title" style="color: white"><i class="fas fa-skull"></i> Game Over!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="resetGame();"></button>
            </div>
            <div class="modal-body">
                <p>The car has failed to traverse its path!</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-bs-dismiss="modal" onclick="resetGame();" role="button"> Replay the
                    Game</a>
            </div>
        </div>
    </div>
</div>

<script>
    var workspace = Blockly.inject('blocklyDiv',
        {
            toolbox: document.getElementById('toolbox'
            ), trashcan: true,
            horizontalLayout: true,
            collapse: true
        });

    // One function 
    var map = {{ map| safe }};  // Get the map from Python 
    var counter = 1;            // Counter is used to facilitate 
    var path_start = 0;         // Start of the map path 
    var path_end = 0;           // End of the map path
    const path = [];            // List that contains the map path

    var car_index = 0;          // Where the Car traveresed 
    const car_path = [];        // Path the car traveresed 
    var i = 0;                  // 

    setInterval(function () {
        numberofblockly = parseInt(workspace.getAllBlocks(false).length)
        document.getElementById('totalCommands').innerText = 'No. of Blocks Used: ' + numberofblockly.toString();
    }, 500);

    var car_face_downwards = false;
    var car_face_upwards = true;
    var car_face_left = false;
    var car_face_right = false;

    // Check for the start flag 
    for (let i = 0; i < map.length; i++) {
        if (map[i].includes("1")) {
            index = map[i].indexOf("1") + counter;
            path_start = index;
            path.push(path_start);
            break;
        }
        counter = counter + 8;
    }

    // Check for the tiles flag 
    counter = 1;
    for (let i = 0; i < map.length; i++) {
        for (let y = 0; y < map[i].length; y++) {
            // console.log(map[i][y]);
            if (map[i][y] == "2") {
                index = y + counter;
                path.push(index);
            }
        }
        counter = counter + 8;
    }

    // Check for the end flag 
    counter = 1;
    for (let i = 0; i < map.length; i++) {
        if (map[i].includes("3")) {
            index = map[i].indexOf("3") + counter;
            path_end = index;
            path.push(path_end);
            break;
        }
        counter = counter + 8;
    }

    // Function to process the car index if the car turns left 
    function turnLeft(car_index) {
        if (car_face_downwards == true) {
            car_index += 1;
            car_face_right = true;
            car_face_downwards = false;
            car_face_upwards = false;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="facedown" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }

        else if (car_face_upwards == true) {
            car_index -= 1;
            car_face_right = false;
            car_face_downwards = false;
            car_face_upwards = false;
            car_face_left = true;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="faceleft" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }

        else if (car_face_left == true) {
            car_index += 8;
            car_face_right = false;
            car_face_downwards = true;
            car_face_upwards = false;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="facedown" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }

        else if (car_face_right == true) {
            car_index -= 8;
            car_face_right = false;
            car_face_downwards = false;
            car_face_upwards = true;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="faceup" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }
        return car_index;
    }


    // Function to process the car index if the car turns right 
    function turnRight(car_index) {
        if (car_face_downwards == true) {
            car_index -= 1;
            car_face_right = false;
            car_face_downwards = false;
            car_face_upwards = false;
            car_face_left = true;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="faceleft" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }

        else if (car_face_upwards == true) {
            car_index += 1;
            car_face_right = true;
            car_face_downwards = false;
            car_face_upwards = false;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="faceright" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }

        else if (car_face_left == true) {
            car_index -= 8;
            car_face_right = false;
            car_face_downwards = false;
            car_face_upwards = true;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="faceup" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }

        else if (car_face_right == true) {
            car_index += 8;
            car_face_right = false;
            car_face_downwards = true;
            car_face_upwards = false;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="facedown" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }
        return car_index;
    }

    // Function to process the car index if the car moves forward 
    function moveForward(car_index) {
        if (car_face_downwards == true) {
            car_index += 8;
            car_face_right = false;
            car_face_downwards = true;
            car_face_upwards = false;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="facedown" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }
        else if (car_face_upwards == true) {
            car_index -= 8;
            car_face_right = false;
            car_face_downwards = false;
            car_face_upwards = true;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="faceup" width="40" height="40">';;
            } catch (error) {
                console.log(error)
            }
        }
        else if (car_face_left == true) {
            car_index -= 1;
            car_face_right = false;
            car_face_downwards = false;
            car_face_upwards = false;
            car_face_left = true;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="faceleft" width="40" height="40">';;
            } catch (error) {
                console.log(error)
            }
        }
        else if (car_face_right == true) {
            car_index += 1;
            car_face_right = true;
            car_face_downwards = false;
            car_face_upwards = false;
            car_face_left = false;
            try {
                document.getElementById("grid" + car_index).innerHTML = '<img src="{{ url_for("static", filename="/img/carimg.png")}}" class="faceright" width="40" height="40">';
            } catch (error) {
                console.log(error)
            }
        }
        return car_index;
    }


    // Move the car left
    function Motor_Left() {
        car_index = turnLeft(car_index);
        if (!checkRoute(car_index)) {
            game_over = true
        }
        car_path.push(car_index);
    }

    // Move the car right 
    function Motor_Right() {
        car_index = turnRight(car_index);
        if (!checkRoute(car_index)) {
            game_over = true
        }
        car_path.push(car_index);
    }

    // Move the car forward
    function Motor_Start() {
        car_index = moveForward(car_index);
        if (!checkRoute(car_index)) {
            game_over = true
        }
        car_path.push(car_index);
    }

    function checkRoute(gridnum) {
        let x = 0
        let y = 0
        x = Math.floor(gridnum / 8)
        y = (gridnum - ((x) * 8)) - 1
        if (map[x][y] == 2) {
            document.getElementById("grid" + gridnum).style.backgroundColor = "green"
            return true
        } else if (map[x][y] == 3) {
            document.getElementById("grid" + gridnum).style.backgroundColor = "green"
            return true
        }
        else {
            document.getElementById("grid" + gridnum).style.backgroundColor = "red"
            return false
        }

    }
    var game_over = false;
    // Function to parse and execute the commands on the "Command List" textarea from the webpage.
    function showCode() {
        console.log(map)
        // Generate code and display it.
        while (directionArr.length > 0) {
            directionArr.pop();
        }
        result = "";
        Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
        Blockly.JavaScript.addReservedWords('code');
        var code = Blockly.JavaScript.workspaceToCode(workspace);
        result = code.concat("\n", result);
        document.getElementById('textArea').innerText = result;



        // Parse the commands gotten from the 'textArea'
        const commands = code.split("\n");
        car_index = path_start;

        //Run the command list using eval function
        eval(code);

        // Check to see if the car has reached the end point 
        if (car_index == path_end) {
            document.getElementById("grid" + car_index).style.backgroundColor = "lightblue"
            $("#game_won_modal").modal({ backdrop: 'static', keyboard: false })
            $("#game_won_modal").modal("show");
            return;
        }
        else {
            try {
                document.getElementById("grid" + car_index).style.background = "red";
            } catch (err) {
                console.log(err)
            }
            $("#game_over_modal").modal({ backdrop: 'static', keyboard: false })
            $("#game_over_modal").modal("show");
            return;
        }

    }

    function resetGame() {
        car_face_downwards = false;
        car_face_upwards = true;
        car_face_left = false;
        car_face_right = false;
        clearCode();
        document.getElementById('createMap').innerHTML = '<div class="card-body pb-4">\
                    <div class="row">\
                        <div class="col-12">\
                            <div class="numbers">\
                                <p id="changeTitle" class="text-sm mb-3 text-capitalize font-weight-bold" style="color: white;">\
                                    <b>Game Map</b>\
                                </p>\
                            </div>\
                            {% set count = namespace(value=1) %}\
                            {% for map_list in map %}\
                            <div class="row">\
                                {% for map_coordinates in map_list %}\
                                {% if map_coordinates == "0" %}\
                                <div class="div1" id="grid{{count.value}}">\
                                </div>\
                                {% elif map_coordinates == "1" %}\
                                <div class="div1" id="grid{{count.value}}" style="background:lightblue;">\
                                    <img id="carImg" src="{{ url_for("static", filename="/img/carimg.png")}}" width="40"\
                                        height="40">\
                                </div>\
                                {% elif map_coordinates == "2" %}\
                                <div class="div1" id="grid{{count.value}}" style="background:yellow;">\
                                </div>\
                                {% elif map_coordinates == "3" %}\
                                <div class="div1" id="grid{{count.value}}" style="background:lightblue;">\
                                    <img src="{{ url_for("static", filename="/img/end.jpg")}}" width="40" height="40">\
                                </div>\
                                {% endif %}\
                                {% set count.value = count.value + 1 %}\
                                {% endfor %}\
                            </div>\
                            {% endfor %}\
                        </div>\
                    </div>\
                </div>';
        workspace.clear()
    }

    function generateBomb() {
        car_face_downwards = false;
        car_face_upwards = true;
        car_face_left = false;
        car_face_right = false;
        workspace.clear()
        clearCode();

        let listofroute = []

        for (let x = 0; x < map.length; x++) {
            for (let y = 0; y < map.length; y++) {
                if (map[x][y] == 2) {
                    listofroute.push([x, y])
                }
            }
        }

        var randint = Math.floor(Math.random() * listofroute.length);

        map[listofroute[randint][0]][listofroute[randint][1]] = '4'

        for (let x = 1; x < 65; x++) {
            document.getElementById('grid' + x.toString()).style.background = "grey"
            document.getElementById('grid' + x.toString()).removeChild(document.getElementById('grid' + x.toString()).firstChild)
        }

        console.log(listofroute[randint])

        for (let x = 0; x < listofroute.length; x ++){
            let oldroutes = (parseInt(listofroute[x][0]) * 8) + (parseInt([listofroute[x][1]]) + 1)
            document.getElementById('grid' + oldroutes.toString()).style.background = "yellow"
        }

        var bomb = (parseInt(listofroute[randint][0]) * 8) + (parseInt([listofroute[randint][1]]) + 1)
        var imgBomb = '<img src="{{ url_for("static", filename="/img/bomb.png")}}" width="40" height="40">'
        document.getElementById('grid' + bomb.toString()).innerHTML = imgBomb
        document.getElementById('grid' + bomb.toString()).style.background = "black"
        

        if (map[listofroute[randint][0]][listofroute[randint][1] - 1] == '0') {
            // left side
            map[listofroute[randint][0]][listofroute[randint][1] - 1] = '2'
            let value = (parseInt(listofroute[randint][0]) * 8) + (parseInt([listofroute[randint][1] - 1]) + 1)
            document.getElementById('grid' + value).style.background = "yellow"
        }
        if (map[listofroute[randint][0]][listofroute[randint][1] + 1] == '0') {
            // right side
            map[listofroute[randint][0]][listofroute[randint][1] + 1] = '2'
            let value = (parseInt(listofroute[randint][0]) * 8) + (parseInt([listofroute[randint][1] + 1]) + 1)
            document.getElementById('grid' + value).style.background = "yellow"
        }
        if (map[listofroute[randint][0] - 1][listofroute[randint][1]] == '0') {
            // top side
            map[listofroute[randint][0] - 1][listofroute[randint][1]] = '2'
            let value = (parseInt(listofroute[randint][0] - 1) * 8) + (parseInt([listofroute[randint][1]]) + 1)
            document.getElementById('grid' + value).style.background = "yellow"
        }
        if (map[listofroute[randint][0] + 1][listofroute[randint][1]] == '0') {
            // bottom side
            map[listofroute[randint][0] + 1][listofroute[randint][1]] = '2'
            let value = (parseInt(listofroute[randint][0] + 1) * 8) + (parseInt([listofroute[randint][1]]) + 1)
            document.getElementById('grid' + value).style.background = "yellow"
        }
        if (map[listofroute[randint][0] - 1][listofroute[randint][1] - 1] == '0') {
            // diagonal top left side
            map[listofroute[randint][0] - 1][listofroute[randint][1] - 1] = '2'

            let value = (parseInt(listofroute[randint][0] - 1) * 8) + (parseInt([listofroute[randint][1] -1]) + 1)
            document.getElementById('grid' + value).style.background = "yellow"
        }
        if (map[listofroute[randint][0] + 1][listofroute[randint][1] + 1] == '0') {
            // diagonal top right side
            map[listofroute[randint][0] + 1][listofroute[randint][1] + 1] = '2'

            let value = (parseInt(listofroute[randint][0] + 1) * 8) + (parseInt([listofroute[randint][1] + 1]) + 1)
            document.getElementById('grid' + value).style.background = "yellow"
        }
        if (map[listofroute[randint][0] + 1][listofroute[randint][1] - 1] == '0') {
            // diagonal bottom left side
            map[listofroute[randint][0] + 1][listofroute[randint][1] - 1] = '2'
            let value = (parseInt(listofroute[randint][0] + 1) * 8) + (parseInt([listofroute[randint][1]-1]) + 1)
            document.getElementById('grid' + value).style.background = "yellow"
        }
        if (map[listofroute[randint][0] - 1][listofroute[randint][1] + 1] == '0') {
            // diagonal bottom right side
            map[listofroute[randint][0] - 1][listofroute[randint][1] + 1] = '2'
            let value = (parseInt(listofroute[randint][0] - 1) * 8) + (parseInt([listofroute[randint][1]+1]) + 1)
            document.getElementById('grid' + value).style.background = "yellow"
        }

        console.log(map)

        document.getElementById('grid' + path_start).style.background = "lightblue"
        document.getElementById('grid' + path_end).style.background = "lightblue"
        var imgEnd = '<img src="{{ url_for("static", filename="/img/end.jpg")}}" width="40" height="40">'
        document.getElementById('grid' + path_end).innerHTML = imgEnd

        document.getElementById("changeTitle").innerHTML = '<div style="color:red; font-weight:bold;"> Game Map (Challenge Mode) </div>'
    }

</script>

<style>
    .faceup {
        transform: rotate(0deg);
    }

    .faceleft {
        transform: rotate(-90deg);
    }

    .faceright {
        transform: rotate(90deg);
    }

    .facedown {
        transform: rotate(180deg);
    }
</style>
{% endblock %}