{% extends "layout.html" %} {% block content %}

<xml xmlns="https://developers.google.com/blockly/xml" id="workspaceBlocks" style="display: none"></xml>
<script src="https://unpkg.com/blockly/blockly.min.js"></script>

<!-- <script src="../static/scripts/blockly_compressed.js"></script>
<script src="../static/scripts/blocks_compressed.js"></script>
<script src="../static/scripts/javascript_compressed.js"></script>
<script src="../static/scripts/en.js"></script> -->
<script src="../static/scripts/block.js"></script>

<!-- <script src="../static/scripts/music_maker.js"></script>
<script src="../static/scripts/sound_blocks.js"></script> -->
<!-- <script src="scripts/workspace.js"></script>
<script src="scripts/main.js"></script> -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm text-dark" aria-current="page">Pages</li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Terminal</li>
            </ol>
           <h6 class="font-weight-bolder mb-0"><b>Terminal</b></h6>
        </nav>
    </div>
</nav>

<div class="container-fluid py-4">
    <div class="row">
        <!-- Row 1 -->
        <div class="col-xl-7 col-sm-6 mb-xl-0 mb-4">
            <div class="card" style="background-image: url('{{ url_for("static", filename="/img/map1.jpg")}}'); background-repeat: no-repeat;">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: white;">Map</p>
                            </div>
                            {% set count = namespace(value=1) %}
                            {% for map_list in map %}
                                <div class="row">
                                    {% for map_coordinates in map_list %}
                                        {% if map_coordinates == '0' %}
                                        <div class="div1" id="grid{{count.value}}">
                                        </div>

                                        {% elif  map_coordinates == '1' %}
                                        <div class="div1" id="grid{{count.value}}">
                                            <img src="{{ url_for('static', filename='/img/start.png')}}" width="40" height="40">
                                        </div>

                                        {% elif  map_coordinates == '2' %}
                                        <div class="div1" id="grid{{count.value}}">
                                            <img src="{{ url_for('static', filename='/img/yellow_box.png')}}" width="40" height="40">
                                        </div>

                                        {% elif  map_coordinates == '3' %}
                                        <div class="div1" id="grid{{count.value}}">
                                            <img src="{{ url_for('static', filename='/img/end.jpg')}}" width="40" height="40">
                                        </div>
                                        {% endif %}
                                        {% set count.value = count.value + 1 %}
                                    {% endfor %}
                                </div>                           
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-xl-5 col-sm-6 mb-xl-0 mb-4">
            <div class="p-2 p-md-4 mb-4 text-white rounded bg-secondary h-100">
                <div class="col-md-12 ">
                    <div class=" border-bottom mb-4">
                        <strong class="d-inline-block mb-2 text-white">Command List</strong>
                    </div>
                    <p class="mt-2" id="textArea"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row mt-4">
        <div class="col-lg-12 mb-lg-0 mb-4">
            <div class="card" style="background-image: url('{{ url_for("static", filename="/img/prog.jpg")}}'); background-repeat: no-repeat;">
                <div class="card-body p-3">
                    <!-- Row 1 -->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="d-flex flex-column h-100">
                                <h5 class="font-weight-bolder" style="color:white"><b>Car Command Flow</b></h5>
                                <p class="mb-5" style="color:white">Drag and drop to configure Commands.</p>
                            </div>
                        </div>

                        <div class="col-2 text-end">
                            <button type="button" class="btn btn-success " onclick="showCode()">Send Commands</button>
                        </div>
                        <div class="col-2 text-end">
                            <button type="button" onclick="clearCode()" class="btn btn-danger ">Clear Commands</button>
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blockly-editor ">
                                <div id="blocklyDiv" style="height: 500px; width: 1213px;"></div>
                                <xml id="toolbox" style="display: none">
                                    <block type="forward"></block>
                                    <block type="stop"></block>
                                    <block type="turn"></block>
                                    <block type="controls_for">
                                        <value name="FROM">
                                          <block type="math_number">
                                            <field name="NUM">1</field>
                                          </block>
                                        </value>
                                        <value name="TO">
                                          <block type="math_number">
                                            <field name="NUM">10</field>
                                          </block>
                                        </value>
                                        <value name="BY">
                                          <block type="math_number">
                                            <field name="NUM">1</field>
                                          </block>
                                        </value>
                                      </block>                                   
                                      <block type="logic_compare"></block>
                                      <block type="logic_operation"></block>
                                      <block type="logic_boolean"></block>
                                      <block type="math_number">
                                        <field name="NUM">42</field>
                                      </block>

                        
                                    <block type="controls_if"></block>
                                    <block type="controls_whileUntil"></block>
            
                                    <!-- <block type="print"></block> -->
                                    <!-- <block type="repeatuntilend"></block> -->
                                    <!-- <block type="controls_if"></block> -->
                                    <!-- <block type="controls_repeat_ext"></block> -->
                                    <!-- <block type="math_number">
                                        <field name="NUM">123</field>
                                    </block>
                                    <block type="text_print"></block> -->
                                </xml>
                                <xml id="startBlocks" style="display: none">
                                </xml>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- Modal popup for Success -->
<div id="game_won_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Game Won!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Map Successfully Created!</p>
                <p class="text-secondary"><small>Click on "continue" to proceed to the terminal page to issue the car commands!</small></p>
            </div>
            <div class="modal-footer">
            	<a class="btn btn-primary" href="#" role="button"> Exit</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal popup for Failure -->
<div id="game_over_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Game Over!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Map Successfully Created!</p>
                <p class="text-secondary"><small>Click on "continue" to proceed to the terminal page to issue the car commands!</small></p>
            </div>
            <div class="modal-footer">
            	<a class="btn btn-primary" href="#" role="button"> Exit</a>
            </div>
        </div>
    </div>
</div>

<script>
    var workspace = Blockly.inject('blocklyDiv',
        {
            toolbox: document.getElementById('toolbox'
            ), trashcan: true
        });

    // One function 
    var map = {{ map|safe }};
    var counter = 1;
    var start = 0;
    var end = 0;
    const path = [];
    const all_paths = [];

    // Check for the start flag 
    for (let i = 0; i < map.length; i++) {
        if (map[i].includes("1")){
            index = map[i].indexOf("1") + counter;
            start = index;
            all_paths.push(start);
            break;
        }
        counter = counter + 8;
    }

    // Check for the tiles flag 
    counter = 1; 
    for (let i = 0; i < map.length; i++) {
        if (map[i].includes("2")){
            index = map[i].indexOf("2") + counter;
            path.push(index);
        }
        counter = counter + 8;
    }
    all_paths.push(path);

    // Check for the end flag 
    counter = 1; 
    for (let i = 0; i < map.length; i++) {
        if (map[i].includes("3")){
            index = map[i].indexOf("3") + counter;
            end = index;
            all_paths.push(end);
        }
        counter = counter + 8;
    }   

    // 2nd Function 
    function showCode() {
        // Generate code and display it.
        while (directionArr.length > 0) {
            directionArr.pop();
        }
        result = "";

        Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
        Blockly.JavaScript.addReservedWords('code');

        var code = Blockly.JavaScript.workspaceToCode(workspace);

        // directionArr.forEach(function (entry) {
        //     result = result.concat("", entry);
        // });
        // alert(result);
    
        result = code.concat("\n", result);
        document.getElementById('textArea').innerText = result;

        
        // Parse the commands 
        const commands = code.split("\n");
        var car_index = start;
        document.getElementById("grid" + car_index).style.background = "blue"; 
        for (let i = 0; i < commands.length; i++){        
            if (commands[i] == "Motor_Left();"){
                car_index = car_index - 1; 
            }

            else if (commands[i] == "Motor_Right();"){
                car_index = car_index + 1; 
            }

            else if (commands[i] == "Motor_Start();"){
                car_index = car_index + 8; 
            }  
            
           

            if (all_paths.indexOf(car_index) == -1){
                
                // $("#game_over_modal").modal("show");
                // return;
            }
            document.getElementById("grid" + car_index).style.background = "blue";    


            // alert(all_paths.indexOf(car_index) === -1);
        }
        $("#game_won_modal").modal("show");
    }


        







        // alert(map);

    // Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'), workspace);

    // function showCode() {
    //     // Generate code and display it.
    //     while (directionArr.length > 0) {
    //         directionArr.pop();
    //     }
    //     result = "";

    //     Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
    //     Blockly.JavaScript.addReservedWords('code');

    //     var code = Blockly.JavaScript.workspaceToCode(workspace);

    //     directionArr.forEach(function (entry) {
    //         result = result.concat("", entry);
    //     });
    //     alert(result);
    //     result = code.concat("\n", result);
    //     document.getElementById('textArea').innerText = result;
    // }

    // function clearCode() {
    //     document.getElementById('textArea').innerText = "";
    // }

    // document.getElementById("execute_btn").onclick = function () {
    //     const ul = document.getElementById('sqnce-list');
    //     const listItems = ul.getElementsByTagName('li');

    //     // Loop through the NodeList object.
    //     for (let i = 0; i <= listItems.length - 1; i++) {
    //         var http = new XMLHttpRequest();
    //         var url = 'http://127.0.0.1:5000/car/commands';
    //         var params = 'direction=webportal&command=' + listItems[i].innerHTML;
    //         http.open('POST', url, true);

    //         //Send the proper header information along with the request
    //         http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    //         http.send(params);
    //     }
    // }
</script>
{% endblock %}